/* navbar */
nav a {
/* need some fonts? */
}
/* placeholder hidden in navbar - larger space between the nav links */
#visibility-hidden {
    visibility: hidden;
}
/* header */
p.descriptionRecipes {
    font-family: 'Chewy', system-ui;
    font-size: 2.2rem;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    letter-spacing: -1.5px;
    line-height: 30px;
}
/* main sections */
div.recipes {
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}
div.recipes.recipeOne {
    background-image: url(https://www.chefkoch.de/images/crop-960x540/magazin/sites/default/files/styles/hero/public/media/image/2023-10/Teaser_Linsenartikel.jpg);
}
div.recipes.recipeTwo {
    background-image: url(https://www.chefkoch.de/images/crop-960x540/magazin/sites/default/files/styles/hero/public/media/image/2022-02/hausmannskost-1200x675.jpg);
}
div.recipes.recipeThree {
    background-image: url(https://www.chefkoch.de/images/crop-960x540/magazin/sites/default/files/styles/hero/public/media/image/2021-08/schnelle-kartoffelgerichte-1200_0.jpg);
}
div.recipes.recipeFour {
    background-image: url(https://www.chefkoch.de/images/crop-960x540/magazin/sites/default/files/styles/hero/public/media/image/2024-01/BerlinerTeaser.jpg);
}
h3.recipeTitle {
    font-family: 'Sniglet', system-ui;
    font-size: 70px;
    letter-spacing: -7px;
    color: rgb(18, 18, 18, 0.8);
    text-align: center;
    text-transform: uppercase;
    margin: auto 0;
}
h3.recipeTitleXL {
    font-family: 'Sniglet', system-ui;
    font-size: 90px;
    letter-spacing: -7px;
    color: rgb(18, 18, 18, 0.8);
    text-align: center;
    text-transform: uppercase;
    margin: auto 0;
}       
h3.recipeTitleXL:hover {
    font-family: 'Sniglet', system-ui;
    font-size: 90px;
    letter-spacing: -7px;
    color: #198754;
    text-align: center;
    text-transform: uppercase;
    margin: auto 0;
}

/* footer */

footer .links {
    display: flex;
    justify-content: center;
}

footer .links a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin: 1rem;
    background: #000;
    text-align: center;
    line-height: 40px;
    font-size: medium;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
}

.links a:nth-child(1){
    background: #3B5998;
}

footer .links a:nth-child(2){
    background: #d6249f; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

footer .links a:nth-child(3){
    background: #bb0000;
}

footer .links a:nth-child(4){
    background: #E60023;
}

footer .grid text-center {
    color: $purple-800;
}

.logobottom{
    max-width: 30px;
}
